<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>gct</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>br.com.drulis.gct.core.controller.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/inicio</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/registrar</url-pattern>
    <url-pattern>/usuario/*</url-pattern>
    <url-pattern>/chamado/*</url-pattern>
    <url-pattern>/contato/*</url-pattern>
    <url-pattern>/contrato/*</url-pattern>
    <url-pattern>/produto/*</url-pattern>
    <url-pattern>/atividade</url-pattern>
    <url-pattern>/item</url-pattern>
    <url-pattern>/cliente</url-pattern>
    <url-pattern>/dash</url-pattern>
  </servlet-mapping>
</web-app>